extends ../promotion_layout

block content

	p &nbsp;

	div.row.main_cleanformatting_invert

		p(style="color: #000000;") <a href="/modules" style="color: #000000;"> Modules </a> > Back to School

		h1(align="center" style="margin-bottom: 20px; margin-top: -50px; font-size:75px;") Back to School

		div.small-8.large-centered.columns
				div.large-2.columns#module2
					a(href="/modules/backtoschool")
						img(src="/img/icons/circle-backtoschool.png")

				div.large-2.columns#module1
					a(href="/modules/adaptivealgorithms")
						img(src="/img/icons/circle-adaptivealgorithms.png")

				div.large-2.columns#module5
					a(href="/modules/gamification")
						img(src="/img/icons/circle-gamification.png")

				div.large-2.columns(style="margin-bottom: 20px;")#module6
					a(href="/modules/learninganalytics")
						img(src="/img/icons/circle-learninganalytics.png")

				div.large-2.columns#module3
					a(href="/modules/classroom")
						img(src="/img/icons/circle-classroom.png")

				div.large-2.columns#module4
					a(href="/modules/contentmodule")
						img(src="/img/icons/circle-contentmodule.png")

		p &nbsp;

		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus sit amet nunc a commodo. Integer fermentum, magna vulputate egestas accumsan, ipsum enim blandit nisi, ac convallis odio arcu sit amet leo. Nulla sit amet enim vel magna ultrices mattis non vel lectus. Nam dignissim quis massa pulvinar feugiat. Cras purus lorem, aliquet sit amet est in, tincidunt auctor lorem. Nam gravida, nisi eget facilisis ultrices, sem neque aliquam ipsum, id vulputate lorem dolor vel sapien. Phasellus magna massa, tincidunt et rutrum nec, ornare et mauris. Nam ultricies arcu urna. Quisque et turpis id augue posuere faucibus consectetur non magna.

	

		hr

		h2 Key Features

		div.main_formatting.small-10.large-centered.columns
			ol
				li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus sit amet nunc a commodo. Integer fermentum, magna vulputate egestas accumsan, ipsum enim blandit nisi, ac convallis odio arcu sit amet leo.
				li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus sit amet nunc a commodo. Integer fermentum, magna vulputate egestas accumsan, ipsum enim blandit nisi, ac convallis odio arcu sit amet leo.
				li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus sit amet nunc a commodo. Integer fermentum, magna vulputate egestas accumsan, ipsum enim blandit nisi, ac convallis odio arcu sit amet leo.

		hr

		h2 Example code Snippet

		hr

		h2	Release Notes v1.0

		center
			h2 Coming Soon

		hr

		h1(align="center") Vision

		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus sit amet nunc a commodo. Integer fermentum, magna vulputate egestas accumsan, ipsum enim blandit nisi, ac convallis odio arcu sit amet leo. Nulla sit amet enim vel magna ultrices mattis non vel lectus. Nam dignissim quis massa pulvinar feugiat. Cras purus lorem, aliquet sit amet est in, tincidunt auctor lorem. Nam gravida, nisi eget facilisis ultrices, sem neque aliquam ipsum, id vulputate lorem dolor vel sapien. Phasellus magna massa, tincidunt et rutrum nec, ornare et mauris. Nam ultricies arcu urna. Quisque et turpis id augue posuere faucibus consectetur non magna.

		p Phasellus euismod sem ac diam tristique, a consectetur mi tristique. Nullam nec eleifend nibh, id tempor sem. Aliquam quis egestas ligula. Nulla facilisi. Vivamus ligula erat, laoreet non hendrerit at, rhoncus eget augue. Suspendisse quis ipsum eros. Pellentesque vestibulum accumsan imperdiet. Morbi cursus eros quis sollicitudin consequat. Praesent at lobortis ante. Phasellus cursus eros sed lectus elementum, sollicitudin volutpat nulla accumsan. Ut auctor vitae neque at egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et pretium mauris, sed euismod massa.

		p Mauris hendrerit velit non vulputate volutpat. Praesent commodo neque ac faucibus fringilla. Integer tempus leo tellus, vitae hendrerit metus adipiscing at. Aliquam at feugiat nibh. Phasellus a purus sed dolor porttitor sollicitudin. Donec tincidunt tristique tristique. Praesent adipiscing eu neque vitae bibendum. Vestibulum lobortis velit risus, congue tempor nisl fringilla vel. Cras vitae urna in odio scelerisque vestibulum. Donec lobortis nunc in purus pellentesque consectetur. Nam eleifend purus in turpis malesuada, a tincidunt dolor malesuada. Vestibulum ipsum neque, lacinia sed erat nec, imperdiet semper augue. Fusce imperdiet malesuada convallis. Donec elementum dolor aliquet, posuere massa sed, pharetra lectus.

		p In et egestas felis, eu ultricies nunc. Duis euismod erat at diam accumsan, sed semper magna dignissim. Donec luctus sem vel hendrerit consequat. Aenean fringilla mi nibh, congue iaculis est mattis sit amet. Sed diam mauris, tincidunt a vulputate nec, imperdiet a leo. Vivamus sed sem ipsum. Vivamus ultrices tortor in massa sodales molestie. Nullam risus dui, rutrum et eleifend non, eleifend eget libero. Suspendisse lectus mauris, fermentum non aliquam eu, pulvinar eu lorem. Curabitur vel tortor velit. Curabitur hendrerit in nisl ut vulputate.



	