extends ../web/promotion_layout

block content

	p &nbsp;

	div.row.main_cleanformatting_invert

		p(style="color: #000000;") <a href="/modules" style="color: #000000;"> Modules </a> > Classroom Ready

		

		h1(align="center" style="margin-bottom: 20px; margin-top: -50px; font-size:75px;") Classroom Ready

		div.small-8.large-centered.columns
			div.large-2.columns#module2
				a(href="/modules/appanalytics")
					img(src="/img/icons/circle-appanalytics.png")

			div.large-2.columns#module1
				a(href="/modules/adaptivealgorithms")
					img(src="/img/icons/circle-adaptivealgorithms.png")

			div.large-2.columns#module5
				a(href="/modules/gamification")
					img(src="/img/icons/circle-gamification.png")

			div.large-2.columns(style="margin-bottom: 20px;")#module6
				a(href="/modules/learninganalytics")
					img(src="/img/icons/circle-learninganalytics.png")

			div.large-2.columns#module3
				a(href="/modules/classroom")
					img(src="/img/icons/circle-classroom.png")

			div.large-2.columns#module4
				a(href="/modules/contentmodule")
					img(src="/img/icons/circle-contentmodule.png")

		p &nbsp;

		div.small-10.large-centered.columns

			

			p Zzish’s Classroom Ready module lets a developer take a mobile app designed for use by a single user and make it ready for use by teachers in classrooms in just a few hours by providing student logins and teacher and parent dashboards.

			h2 Key Features

			div.main_formatting.small-10.large-centered.columns
				ol
					li
						a(href="#loginLink" style="color: #74B4FE") Classroom and Home Logins for Student
					li 
						a(href="#teacherDashboardLink" style="color: #74B4FE") Teacher Dashboard
					li 
						a(href="#parentDashboardLink" style="color: #74B4FE") Parent Dashboard


			hr

			h1(align="center") Vision

			p Making your app classroom ready can dramatically increase the usage and revenue from your app, but to make your app ready for use in the classroom requires you to provide teachers with a dashboard where they can view student performance and get actionable insights on how to help individual students improve. 

			p The Classroom Ready module works closely with our Analytics (for recording student activity) and Gamification modules (for setting up multiplayer classroom games) to provide a full solution.

			h3#loginLink Classroom and Home Logins for Student

			p Managing student logins is a complex process that we make incredibly simple for developers. The Classroom Ready module provides easy mechanisms for teachers to create and manage classes direct from your mobile app or using a web interface on a desktop computer.

			p We provide two mechanisms for teachers to set up class lists.   Teachers can enter the names of students into the system and give out login credentials to students (best for 7-11 year old classes) or teachers can distribute a class code to students and students can create their own login credentials and then join the class (best for 11+ classes).

			p Student login credentials for children under 13 are automatically created for them to ensure that they are both easily remembered and secure.   Students over 13 are allowed to create their own passwords.

			p The Classroom Ready module also provides our patent pending mechanism for teachers to automatically configure your app for use by students in the classroom (students can then simply select their names from a list in the app).

			h3#teacherDashboardLink Teacher Dashboard
			
			p The teacher dashboard provides a number of powerful features for integrating with you app and comprises several key areas:

			p The reporting area lets teachers easily see which students have done which activities and how they have performed and progressed at those activities.   Grouping uses benchmarks from analytics to identify the weakest topic area for each student in the class and automatically suggests groups of students that the teacher should spend time with to give more help on those subjects.  Reporting also shows progress at the class level over time and can provide comparisons with other classes.

			p The live status area lets teachers easily see how students are doing in the app.  These screens can be displayed on an electronic whiteboard in the classroom for students to see.  There are several default views, such as the live class leaderboard view that shows which students have made most progress or have the highest score at activities in the class. There is also a tabbed view that divides the desktop screen into six columns of tabs and you can send custom html to our server in real time to specify what should be shown in each tab.

			p The portfolio area lets teachers see in-progress or completed works that students publish to their portfolio from your app. The completed work can be either text, an image or your own custom html.

			p Teachers can also display screenshots from tablets being used in the classroom for display on the electronic whiteboard.

			h3#parentDashboardLink Parent Dashboard
			
			p For students who are children, teachers can enable parent logins and access to the parent dashboard, which lets parents see data from the dashboard for their child, such as their child’s activity in your app and their portfolio from your app.
