extends ../promotion_layout

block content

	p &nbsp;

	div.row.main_cleanformatting_invert

		p(style="color: #000000;") <a href="/modules" style="color: #000000;"> Modules </a> > Learning Analytics

		

		h1(align="center" style="margin-bottom: 20px; margin-top: -50px; font-size:75px;") Learning Analytics

		div.small-8.large-centered.columns
			div.large-2.columns#module2
				a(href="/modules/appanalytics")
					img(src="/img/icons/circle-appanalytics.png")

			div.large-2.columns#module1
				a(href="/modules/adaptivealgorithms")
					img(src="/img/icons/circle-adaptivealgorithms.png")

			div.large-2.columns#module5
				a(href="/modules/gamification")
					img(src="/img/icons/circle-gamification.png")

			div.large-2.columns(style="margin-bottom: 20px;")#module6
				a(href="/modules/learninganalytics")
					img(src="/img/icons/circle-learninganalytics.png")

			div.large-2.columns#module3
				a(href="/modules/classroom")
					img(src="/img/icons/circle-classroom.png")

			div.large-2.columns#module4
				a(href="/modules/contentmodule")
					img(src="/img/icons/circle-contentmodule.png")

		p &nbsp;

		div.small-10.large-centered.columns

			p The Learning Analytics module lets you provide data and insight back to the learners, teachers and parents.  We make it easy for you to compute benchmarks for learners against peer groups to show the areas in which individual learners are weak and strong.   For classrooms we automatically aggregate this data so that you can give teachers insight at the class level.

			hr

			h2 Key Features

			div.main_formatting.small-10.large-centered.columns
				li Benchmarks by topic area for individuals
				li Integrates seamlessly with our classroom ready module to provide class level data within the teacher dashboard.


			hr

			h1(align="center") Vision

			p The Learning Analytics module is designed so that you can query stats that you can display to learners, teachers and parents to show them in which topic areas individual learners are strong and weak.  This information gives users insight that enables them to focus activities to help improve understanding in areas where learners are weak.

			p Our learning analytics framework lets you define a hierarchy of topic areas and then record learner progress against each of these areas.  Our system then computes benchmarks for learner progress in each topic area against one or more peer groups.  You can define your own peer groups or use one of the standard peer groups; learners in the same class (if applicable), learners of the same age or all learners.

			p You can display the benchmarks to the learner, teacher and parent in absolute form as either their percentile ranking or alternatively in relative form.   For example, in five related topic areas under maths a user might rank at the following percentiles, 80%, 60%, 50%, 30% and 70% giving relative percentiles of 1.0, 0.6, 0.4, 0.0 and 0.8.  Absolute benchmarks can be demotivating for weaker learners whereas relative benchmarks help direct learning to areas of weakness without demotivating learners.

			div.row
				div.small-8.large-centered.columns
					h4(align="center") Absolute benchmarks in percentile form.
					img(src="/img/graphs/learninganalytics_1.png")

			p &nbsp;

			div.row
				div.small-8.large-centered.columns
					h4(align="center")	The same benchmarks in relative form.
					img(src="/img/graphs/learninganalytics_1.png")

