extends promotion_layout

block content
	p &nbsp;
	
	div.row.main_cleanformatting_invert

		hr

		h1(align="center") Pricing

		hr
	
		div.row
			div.small-3.columns
				ul.pricing-table 
					li.title Starter
					li.price(style="height:93px;") Free
					li.bullet-item(style="height:44px;") 
					li.bullet-item(style="background-color: #6B2967; color: #FFFFFF;") <b> Volume: 0 - 100 app installs </b>
					li.bullet-item 
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; App Analytics
					li.bullet-item 
						img(src="/img/icons/close.png" height="20" width="20" align="left")
						&#32; Adaptive Algorithms
					li.bullet-item 
						img(src="/img/icons/close.png" height="20" width="20" align="left")
						&#32; Gamification
					li.bullet-item 
						img(src="/img/icons/close.png" height="20" width="20" align="left")
						&#32; Learning Algorithm
			

			div.small-3.columns
				ul.pricing-table 
					li.title Indie
					li.price(style="height:93px;")  10% app revenue
					li.bullet-item (min $99 per month)
					li.bullet-item(style="background-color: #6B2967; color: #FFFFFF;") <b> Volume: 0 - 1k app installs </b>
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; App Analytics
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Adaptive Algorithms
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Gamification
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Learning Algorithm

			div.small-3.columns
				ul.pricing-table 
					li.title Business
					li.price(style="height:93px;")  10% app revenue
					li.bullet-item (min $299 per month)
					li.bullet-item(style="background-color: #6B2967; color: #FFFFFF;") <b> Volume: 1k - 10k app installs </b>
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; App Analytics
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Adaptive Algorithms
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Gamification
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Learning Algorithm

			div.small-3.columns
				ul.pricing-table 
					li.title Enterprise
					li.price(style="height:93px;")  Contact Us
					li.bullet-item(style="height:44px;") 
					li.bullet-item(style="background-color: #6B2967; color: #FFFFFF;") <b> Volume: 10k app installs </b>
					li.bullet-item &#32;
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; App Analytics
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Adaptive Algorithms
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Gamification
					li.bullet-item
						img(src="/img/icons/check.png" height="20" width="20" align="left")
						&#32; Learning Algorithm

		


