extends layout

block content
	div.row
		p <br>

		div.row
			div
				p 

		div.row
			center
				h2 MOST AWESOME MULTIPLICATION GAME EVER!
		p <br>


		div.row

			h1(align="center") START

			input(type="password")#pass

			p(align="center")
					button.button.round(style="margin-right: 10px; margin-left: 35px;")#startbutton START!
		


	script.
		//ewakubfkjewyagfjeawgjfh
		$("#startbutton").click(function() {
			if(document.getElementById("pass").value == 'zz1sh123') { 
				window.location.href = "/game/oeuahelwiuflawirEAIHEUWHLAHEFUIGWAFAEFWE";
			}
		});