extends promotion_layout

block content
	p &nbsp;
	
	div.row
		div.row.container_invert.main_cleanformatting_invert
			center
				hr 

				h1(align="center") About Us

				hr

				p Zzish is a brand new company with big ambitions to transform the way kids learn through social mobile games. We're a little bit crazy in that we think we can do something special and create an entirely new platform for learning. We're a talented team of experts and always looking for people to join us who have a passion for applying technology to change the world. We are currently growing our software and content development team, so if you share our vision let us know!

				hr

				img(src="/img/icons/face-charles.png")
				h4 Charles Wiles Product and Partnerships

				
				p Charles is the founder of Zzish. He had created the idea for his previous app Factzz, and hand coded the prototype himself. He has a passion for changing the world through technology and a track record of building and running teams to achieve this. <br> For the last four years, Charles was Managing Director at VisualDNA, a company that delivers fun and engaging visual personality quizzes to consumers on the web and mobile. He was involved in building the company's Media Divison from scratch, creating the product, and building a team of world class engineers alongside business development executives to turn it into a successful international business. <br> Before VisualDNA, Charles was the first Product Manager hired by Google outside the USA and managed the development of part of the first version of the Android mobile operating system. Charles has an MBA from London Business School, a PhD from Oxford University, and a double first class degree in engineering from Cambridge.


				hr

				img(src="/img/icons/face-samir.png")
				h4 Samir Seetal Technology

				p Samir is an outstanding software engineer and technical leader whose skill-set spans back-end, front-end and mobile app development. As well as being a technical wizard, Samir has an MBA from London Business School and is a savvy business strategist. He has tremendous experience building scalable, robust, big data systems, and is the perfect compliment to Charles' product skills.

				hr
				img(src="/img/icons/face-aled.png")
				h4 Aled Evans Design

				p Aled is the designer behind the Zzish user interface and design. He has a very broad skillset that allows him to take an idea from concept to fully fledged user experience and elegant design. Aled was responsible for design of the VisualDNA personality quiz that has been taken by over 100 million users worldwide and also created Justin Timberlake's original hit viral website.

				hr

				img(src="/img/icons/face-ed.png")
				h4 Ed Wiles Content

				p Ed is an expert at creating entertaining content in both words and video. In 2010 he founded Huntzz Ltd to deliver, Huntzz, the UK's leading mobile treasure hunting app. As well as managing development of the software, Ed created the content for the treasure hunts and developed partnerships with a number of leading tourist attractions including Chatsworth House, Jersey Heritage, The Wallace Collection and others. Ed is originally trained as a scriptwriter and film director, having made two well received short films, Heaven’s Secret and The Angel. He also created and runs FilmsShort.com, a site for people with a passion for short film making.
