extends layout

block content
	div.row.main_cleanformatting_invert
		hr

		h1(align="center") Activate #{role}

		hr

		p &nbsp;
		
		p(align="center")	You have yet to Activate the #{role} role, would you like to proceed?
		
		p &nbsp;

		center
			form(name="input" action="#{url}" method="post")
				input(type="submit" value="Activate").button.round

