doctype html
html
	head
		title= title

		block css
			link(rel='stylesheet', href='/css/foundation.css')
			link(rel='stylesheet', href='/css/register.css')
			link(rel='stylesheet', href='/css/style.css')
			link(href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css')

		block js
			script(src="/js/vendor/modernizr.js")
			script(src="/js/vendor/jquery.js")
			script(src="/js/foundation.min.js")

			script(type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js")

			script(src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js")



	body
		nav.top-bar
			ul.title-area
				li.name
					h1 
						a(href="/#modulebase") Zzish

			section.top-bar-section
				ul.right.main_cleanformatting

					li
						a(href="/modules") Modules
					li
						a(href="/prices") Prices
					li
						a(href="/api_docs") API & Docs
					li		
						a(href="http://blog.zzish.com") Blog
					li
						a(href="/login") Sign In
					li
						a(href="/contactus") Contact Us


		

		
		section(data-speed="10" data-type="background").main_cleanformatting#home_2
			div.row
				div.large-7.columns
					img(src="/img/zzish-logo.png" style="width: 300px; margin-bottom: 10px;")
					h4(align="left" style="text-shadow:2px 2px 2px #000000; color: #FFFFFF; font-family: 'Lato', sans-serif; margin-top: -10px; font-size: 19px;") <b> Making Smarter. Learning Faster.</b> 

				div.large-5.columns
			
					div.small-12.large-centered.columns(style="text-position: center; background-color:#BBBBBB; border-radius: 20px 20px 20px 20px; margin-top: 5%")
						h4(align="center" style="color: #FFFFFF; font-family: 'Lato', sans-serif;") Sign Up
						

						form(name="input" action="/register" method="post")
							div.row
								div.small-7.columns
									input(type="text" name="email" placeholder="Your email address")
								div.small-5.columns
									button.button.small.round(type="submit" value="signup") Sign Up

							div.row
								a(href="/auth/github")
									div.small-8.large-centered.columns(style="background-color:#000000; border-radius: 20px 20px 20px 20px;")
										p
										
											img(src="/img/icons/github_login.jpeg" style="height: 30px; width 30px; padding-right: 10px; margin: 5px; ")
											Sign Sign up with github

									


		
		block content


		footer.row.footer_format
			hr

			div.row

				div.large-6.columns
					Zzish

				div.large-6.columns
					ul.inline-list.right
						li
							a(href="/privacypolicy" style="color: #000000") Privacy Policy
						li
							a(href="/aboutus" style="color: #000000") About Us
						li
							a(href="mailto:developers@zzish.com" style="color: #000000") Contact Us
			

		//- Required to load Foundation:
		script.
			$(document).foundation();

		script.
			var addthis_config = {"data_track_addressbar":true};
			var addthis_config = {services_exclude: 'print'};

						/* <![CDATA[ */
			var google_conversion_id = 977931130;
			var google_custom_params = window.google_tag_params;
			var google_remarketing_only = true;
			/* ]]> */

		script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=edwiles")