extends mobile_layout

block content
	div.row
		div.large-12.columns
			div.large-6.large-centered.columns
				img(src="/img/zzish-logo.png")

				h2 Making Smarter. Learning Faster.

			hr

	div.row
		div.large-12.columns

			h3(align="center") Discover our six powerful modules.

			center
				a(href="/mobile/modules").button.round Modules

			hr

	div.row
		div.large-12.columns
			
			h2(align="center") So what is Zzish?
			
			p We’re an infrastructure and toolset to help developers build amazing mobile learning apps and games in a fraction of the time and for a fraction of the cost than it would take otherwise.
			
			h2(align="center") Trends and Reports on Mobile Learning

			p It’s pretty easy to build a mobile app these days, but it’s really hard to deliver a learning app competes with the best learning apps on the market as there are so many complex features you need to add. In fact we estimate that to build a state-of-the-art mobile learning app from scratch would cost a minimum of $400k today and this cost is increasing all the time as the underlying learning technologies evolve in sophistication. Indeed, companies like Memrise,Busuu, Babbel and DuoLingo have invested tens of millions in building their technology.
			p So we decided to solve this problem and are investing $2m over the next two years in building a platform. Instead of spending $400k or more on building your app from scratch, you can now spend less than $10k (or nothing at all if you build it yourself) and plug into our platform to deliver an app has a set of features as good as or even better than today’s leading learning apps.  You still need to design and implement the user experience and provide the learning content, but we do all the heavy lifting behind the scenes.  And if you already have an app then you can use our platform to add those features you have been wanting to add for ages, but have just never had the time or resource to build.
			p It’s an exciting space in which to play. McKinsey project that mobile learning will be a $38b market by 2020, that’s a third of the size of the online advertising market that has created $100b companies such as Google and thousands of other smaller ones. So we hope that we can power the next generation of tech entrepreneurs.
			p We’re also passionate about the impact we can have and the value we can create. We believe that education is going to change more in the next 20 years than it has in the last 2,000. By 2020, 3 billion tablets will have shipped worldwide, that’s one tablet for every two people on the planet, or three tablets for every school child. And that’s on top of the 1 billion smartphones that are already shipping every year. Indeed, with the cost of a decent android tablet now just $50, it won’t be long before every child has access to a personalised education in the palm of their hand.
			p There’s a revolution coming and we intend to power it.
