extends mobile_layout

block content
	div.row
		div.large-12.columns
			
			hr
			h1(align="center" style="color: #000000;") Modules
			hr

			p We have six powerful modules that you can use independently or all together to add rich learning features to your app.  And you can be up and running with all of them in just a few hours!

			hr

			div.large-6.columns
				div.row
						h2(align="center") App Analytics

						center
							a(href="/mobile/modules/appanalytics")
								img(style="height:125px;" align="center" src="/img/icons/circle-appanalytics.png").home_icon 
					
						p Measure the engagement and effectiveness of your app and increase revenue.

						p(align="center")
							a(href="/mobile/modules/appanalytics" style="color: #000000;") Learn more

						hr

				div.row
						h2(align="center") Gamification and Social

						center
							a(href="/mobile/modules/gamification")
								img(style="height:125px;" align="center" src="/img/icons/circle-gamification.png").home_icon
					
						p Effortlessly create real-time multiplayer learning games.

						p(align="center")
							a(href="/mobile/modules/gamification" style="color: #000000;") Learn more

						hr

				div.row
						h2(align="center") Learning Analytics

						center
							a(href="/mobile/modules/learninganalytics")
								img(style="height:125px;" align="center" src="/img/icons/circle-learninganalytics.png").home_icon
					
						p Provide feedback to learners and teachers on strengths and weaknesses.

						p(align="center")
							a(href="/mobile/modules/learninganalytics" style="color: #000000;") Learn more

						hr

				

			div.large-6.columns
				div.row
						h2(align="center") Adaptive Algorithms

						center
							a(href="/mobile/modules/adaptivealgorithms")
								img(style="height:125px;" align="center" src="/img/icons/circle-adaptivealgorithms.png").home_icon
					
						p.main_cleanformatting Deliver personalised learning with three state-of-the-art algorithms.

						p(align="center")
							a(href="/mobile/modules/adaptivealgorithms" style="color: #000000;") Learn more				

						hr


				div.row
						h2(align="center") Classroom Ready

						center
							a(href="/mobile/modules/classroom")
								img(style="height:125px;" align="center" src="/img/icons/circle-classroom.png").home_icon
					
						p Provide teachers with a dashboard to view student progress with your app.

						p(align="center")
							a(href="/mobile/modules/classroom" style="color: #000000;") Learn more

						hr

				div.row
						h2(align="center") Content Module

						center
							a(href="/mobile/modules/contentmodule")
								img(style="height:125px;" align="center" src="/img/icons/circle-contentmodule.png").home_icon
					
						p Manage and version your content then easily distribute updates to devices.
						
						p(align="center") 
							a(href="/mobile/modules/contentmodule" style="color: #000000;") Learn more

						hr
