extends ../mobile_layout

block content

	div.row
		div.large-12.large-centered.columns
		
			h1(align="center" style="margin-bottom: 20px; margin-top: -50px; font-size:75px;") Gamification

			p(style="color: #000000;") <a href="/mobile/modules" style="color: #000000;"> Modules </a> > Gamification
			hr

		

			p Gamification makes your app more engaging for learners and keeps them motivated and wanting to learn.  The Gamification module lets you effortlessly turn your app into a multiplayer real-time or turn based game and provides a framework for achievements, leaderboards and avatars.

			hr

			h2 Key Features

			div.small-10.large-centered.columns
				li Multi-player real-time or turn based game set up and data synchronization
				li Integrates seamlessly with our classroom ready module for multiplayer classroom games
				li Leaderboards framework
				li Progress and achievements framework
				li Avatar system


			hr

			h1(align="center") Vision

			p Gamification is about applying the best principles from the science of motivation to keep learners motivated and engaged.   Self Determination Theory describes the three levers of motivation as Autonomy, Competence and Relatedness and our Gamification module is specifically designed to address the latter two of these.   Our framework for rewards and achievements addresses Competence ensuring that learners get positive feedback and understand they are making steady and constant progress towards their goals.  Our framework for multiplayer gaming addresses Relatedness ensuring that learners feel they are part of a common group of people with a shared learning goal.

			h3 Multi-player Gaming

			p The multiplayer gaming features make it easy for you to set up real-time or turn-based games between players and then to easily transfer in game user actions between devices. Our data transfer happens in real-time ensuring that actions that a player takes on one device is instantly reflected on other devices. 
			p Real-time is the best option when all learners are online at the same time (for example, when in the classroom) and turn based allows learners to compete even if they are not online at the same time.

			p For multiplayer gameplay in the classroom, the gamification module works seamlessly with the classroom ready module enabling students to easily challenge classmates and create in classroom games. 

			h3 Progress and Achievements

			p The achievements system lets you to set up one or more achievements for each activity, set parameters for achieving three levels for each achievement and record progress against reaching each level.   This data is all stored on our server so that if learners delete the app or log in on a new device they can restore the app to the current state of learning.

			h3 Avatars

			p The avatars system lets you provide learners with a choice of avatars that they can use to represent themselves in multiplayer games and on leaderboards.


		