
extends dashboardlayout

block content
	div.row
		div.col-sm-6
			

			div.row.teacher-summary(style="padding: 5px;")
				div.well
					div.col-sm-4
						img(src="http://placehold.it/100x100").img-circle
					div.col-sm-8
						div.row
							div.col-sm-7
								h4 James Hunter
								h4 Class 3B
							div.col-sm-5
								button(type="button" style="width: 100%; margin-top: 15px;").btn.btn-success Live
						div.row(style="margin-top: 15px;")
							div.progress
								div(class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;") 60%
							
		

			div.row
				div.col-sm-6.box-1(style="padding: 5px;")
					div.well
						h4(align="center") Updates
						hr

						div(style="overflow: scroll; height: 50vh; padding-left: 5px;")
							div.row.display-box

								h3.popover-title Owen Chen
								div.popover-content	Finished level 3 - 69%
								

							div.row.display-box
								h3.popover-title Owen Chen
								div.popover-content	Finished level 3 - 69%
							div.row.display-box
								h3.popover-title Owen Chen
								div.popover-content	Finished level 3 - 69%
							div.row.display-box
								h3.popover-title Owen Chen
								div.popover-content	Finished level 3 - 69%
							div.row.display-box
								h3.popover-title Owen Chen
								div.popover-content	Finished level 3 - 69%

				div.col-sm-6.box-1(style="padding: 5px;")
					div.well
						h4(align="center") Students
						hr

						div(style="overflow: scroll; height: 50vh; padding-left: 5px;")
							div.row.display-box
								div.col-sm-4
									img(src="http://placehold.it/50x50").img-circle
								div.col-sm-8
									p Daryl Rodrigo
							div.row.display-box
								div.col-sm-4
									img(src="http://placehold.it/50x50").img-circle
								div.col-sm-8
									p Daryl Rodrigo

							div.row.display-box
								div.col-sm-4
									img(src="http://placehold.it/50x50").img-circle
								div.col-sm-8
									p Daryl Rodrigo

							div.row.display-box
								div.col-sm-4
									img(src="http://placehold.it/50x50").img-circle
								div.col-sm-8
									p Daryl Rodrigo

							div.row.display-box
								div.col-sm-4
									img(src="http://placehold.it/50x50").img-circle
								div.col-sm-8
									p Daryl Rodrigo


							div.row.display-box
								div.col-sm-4
									img(src="http://placehold.it/50x50").img-circle
								div.col-sm-8
									p Daryl Rodrigo

							div.row.display-box
								div.col-sm-4
									img(src="http://placehold.it/50x50").img-circle
								div.col-sm-8
									p Daryl Rodrigo

							div.row.display-box
								div.col-sm-4
									img(src="http://placehold.it/50x50").img-circle
								div.col-sm-8
									p Daryl Rodrigo







		//- Tabs for analytics Right side of the page
		
		div.col-sm-6

			div.row(style="margin-top: 15px;")
				
				ul.nav.nav-tabs
					li.active
						a(href="#home" data-toggle="tab") Current Standing

					li
						a(href="#profile" data-toggle="tab") Improvement
					li
						a(href="#messages" data-toggle="tab") Weaknesses
					li
						a(href="#settings" data-toggle="tab") Settings
			

				<!-- Tab panes -->
				div.tab-content#my-tab-content
					div(style="height: 80vh; overflow: scroll;").tab-pane.active.well#home
						

						-for (var i = 0; i < 4; i++){
							div.container
								div.row
									-for (var j = 0; j < 5; j++){
										div.col-sm-1.well
											p Student User #{j}#{i} 
									- }
	

						-}



					div(style="height: 40vh;").well.tab-pane#profile More testing more test
					div(style="height: 40vh;").well.tab-pane#messages Lolz
					div(style="height: 40vh;").well.tab-pane#settings ...

			

	script.
		//Owen Functions
		<script type="text/javascript">
			jQuery(document).ready(function ($) {
 
				$('#tabs').tab();
			});
		</script>   
 
		
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>  	




