doctype html
html
	head
		title= title

		block css
			link(rel='stylesheet', href='/css/foundation.css')

			link(href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css')

		block js
			script(src="/js/vendor/modernizr.js")
			script(src="/js/vendor/jquery.js")
			script(src="/js/foundation.min.js")

			script(src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js")



	body
		nav.top-bar
			ul.title-area
				li.name
					h1 
						a(href="/" style="color: #FFFFFF; font-family: 'Lato', sans-serif;") Zzish Teachers

			section.top-bar-section
				ul.right
					li
						a(href="/teachers/addclassroom") Add Classroom
					li
						a(href="/teachers/logout") Logout

		
		block content
		

			

		//- Required to load Foundation:
		script.
			$(document).foundation();

		script.
			var addthis_config = {"data_track_addressbar":true};
			var addthis_config = {services_exclude: 'print'};

		script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=edwiles")